/*Обнуление стилей*/
* {
    margin: 0;
    padding: 0;
}

/*Базовфый макет*/
#head {
}

#footer {
    margin: 10px 0 0 0;
}

#content {
    background-color: blueviolet;
    width: 79%;
    float: right;
    padding: 5px;

}

#sidebar {
    width: 20%;
    float: left;
}

.wrap {
    width: 1300px;

    margin: auto;
}

.clear {
    clear: both;

}

.fl {
    height: 100px;
}

p {
    margin-left: 40px;
}

#navigation ul li{
    display: inline;
}
#evg{
    margin-left:300px;
}